.circle{
    height: 3rem;
    width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
    border-radius: 50%;
    background-color: purple;
}

.header-coin{
    position: fixed;
    top: 0;
    display: flex;
    height: 15vh;
    width: 100vw;
    padding: 1rem;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
   
      
}

.help{
    font-size: 1rem;
    position: absolute;
    right: 0;
    
}

.help h2{
    position: relative;
    font-size: 1.5rem;
    color: blue;
    padding-right: 1rem;
}