.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@media (max-width:427px) {
  html{
    font-size: 47%;
  }
  
 
}


.main{
  box-shadow: 3px 3px 4px 3px rgb(232, 229, 229);
  width: 80vw;
background-color: white;
margin: 0 10vw 0 10vw;

}

.back{
  background-color: #d5d1d1;
}